@import url("https://fonts.googleapis.com/css?family=Lobster|Lobster+Two:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,800,900");
html, body {
  height: 100%; }

/* Global */
.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.alert {
  margin-top: 20px; }

.alert.alert-success {
  font-size: 16px;
  font-weight: bold; }

.error {
  color: red;
  font-size: 13px; }

.content {
  text-align: center; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"], .row.no-gutters .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

/* Masonry */
.grid {
  position: relative; }

.grid-sizer, .grid-item {
  min-height: auto !important; }

body.admin-site {
  /* Main */
  /* Admin */
  /* Admin Editor */ }
  body.admin-site label {
    color: #a71a1a; }
  body.admin-site a {
    color: #a71a1a; }
  body.admin-site a:hover {
    color: #3f3f3e; }
  body.admin-site .page-sidebar .page-sidebar-menu > li.active.open > a, body.admin-site .page-sidebar .page-sidebar-menu > li.active > a, body.admin-site .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, body.admin-site .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, body.admin-site .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
    background: #a71a1a; }
  body.admin-site .content-wrap.pdf-wrap h1, body.admin-site h2, body.admin-site h3, body.admin-site h4, body.admin-site h5, body.admin-site h6 {
    font-family: "Source Sans Pro", sans-serif; }
  body.admin-site .tooltip-custom, body.admin-site #map-canvas a.active .btn, body.admin-site .progress_bar .bar, body.admin-site .btn-site {
    background: #a71a1a; }
  body.admin-site #map-canvas .btn:hover {
    border-color: #a71a1a;
    color: #a71a1a; }
  body.admin-site .btn-site {
    color: #fff; }
  body.admin-site .btn-site:hover {
    background: #3f3f3e; }
  body.admin-site .pagination > .active > a, body.admin-site .pagination > .active > a:hover, body.admin-site .pagination > .active > a:focus, body.admin-site .pagination > .active > span, body.admin-site .pagination > .active > span:hover, body.admin-site .pagination > .active > span:focus {
    background: #a71a1a;
    border-color: #a71a1a; }
  body.admin-site .flex-item .form_fields_actions {
    display: none;
    background: #f3f3f3;
    border: 1px dashed #ccc;
    padding: 10px;
    color: #777; }
  body.admin-site .flex-item:hover .form_fields_actions {
    display: block; }

body.error-site {
  background: #a71a1a;
  color: #ffffff; }
  body.error-site .top {
    background: #ffffff;
    color: #a71a1a; }
  body.error-site .button {
    background: #ffffff;
    color: #a71a1a; }
  body.error-site a:hover .button {
    background: #ffffff; }

body.main-site {
  /*Services*/
  /*Members*/
  /*@import "master/main";
  @import "master/responsive";
  @import "segments/main";
  @import "segments/responsive";
  @import "project/main";
  @import "project/responsive";*/ }
  body.main-site .l-navbar-wrapper_has-sticky .l-navbar_t-semi-trans, body.main-site .l-navbar-wrapper_has-sticky .l-navbar_t-dark-trans {
    background-color: #3f3f3e; }
  body.main-site .navbar-brand img {
    height: 75px;
    width: auto; }
  body.main-site .footer-logo img {
    width: 100%;
    height: auto; }
  body.main-site .team-hover .desk {
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%); }
    body.main-site .team-hover .desk p {
      line-height: 28px; }
  body.main-site .btn-site {
    background: #a71a1a;
    color: #fff;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  body.main-site .btn-site:hover {
    background: #3f3f3e; }
  body.main-site .contact-comments .form-control {
    margin-bottom: 10px; }
  body.main-site .contact-comments textarea.form-control {
    height: auto; }
  body.main-site .contact-comments .btn-site {
    margin-left: 15px;
    margin-top: 5px; }
  body.main-site .featured-item .desc {
    text-align: left; }
  body.main-site .featured-item.border-box {
    height: 380px; }
  body.main-site .banner-sb1 {
    background-image: url("../../../assets/img/banner.jpg") !important; }
  body.main-site .banner-07 {
    background-image: url("../../../assets/img/banner_home.jpg") !important; }
  body.main-site .tab-parallax-alt {
    background-image: url("../../../assets/img/vision_home.jpg") !important; }
  body.main-site .title_home {
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 65px 0px 30px 0px; }
  body.main-site .m-bot-50 {
    margin-bottom: 0px; }
  body.main-site .border-short-bottom h1:after, body.main-site .border-short-bottom h2:after, body.main-site .border-short-bottom h3:after, body.main-site .border-short-bottom h4:after, body.main-site .border-short-bottom h5:after, body.main-site .border-short-bottom h6:after {
    background: #a71a1a; }
  body.main-site .sub_services {
    padding: 20px;
    margin-top: 40px; }
  body.main-site .service_each {
    margin-top: 25px;
    margin-bottom: 50px; }
  body.main-site .title-img .info {
    text-transform: uppercase;
    text-align: center; }
  body.main-site .team_all .row.member_each {
    margin-left: 0px;
    margin-right: 0px; }
  body.main-site .member_each {
    background-color: #e3e3e3;
    border: 15px solid #dedddd;
    margin-bottom: 20px; }
    body.main-site .member_each .member_content {
      padding: 0px 15px 0px 15px; }
      body.main-site .member_each .member_content p {
        color: #acacac;
        font-weight: 500;
        font-style: italic; }
    body.main-site .member_each .team-img {
      padding: 0px;
      border-right: 15px solid #dedddd; }
